<section class="mb-4">
    <div class="row d-flex justify-content-center ">
        <article class="card bg-transparent me-4 w-25 shadow-lg border">
            <img src="assets/gilbert_teckel.jpg" alt="">
            
            <div class="card-body">
                <h3 class="card-title text-center text-dark mb-4"><strong>GILBERT TECKELL</strong></h3>
                <p class="card-text text-center text-dark mb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque officiis est iure perferendis eveniet provident, nemo reiciendis reprehenderit libero! Laborum voluptatem minus corporis, ratione illum soluta dicta consectetur sapiente quam.</p>
                <a href="https://r22tiendasmultimarca.es/marca/gilbert-teckel" target="_blank" class="btn btn-outline-primary w-100">TIENDA OFICIAL</a>
            </div>
        </article>
    
        <article class="card bg-transparent me-4 w-25 shadow-lg border">
            <img src="assets/only.jpg" alt="">
            
            <div class="card-body">
                <h3 class="card-title text-center text-dark mb-4"><strong>ONLY</strong></h3>
                <p class="card-text text-center text-dark mb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque officiis est iure perferendis eveniet provident, nemo reiciendis reprehenderit libero! Laborum voluptatem minus corporis, ratione illum soluta dicta consectetur sapiente quam.</p>
                <a href="https://www.only.com/es-es" target="_blank" class="btn btn-outline-primary w-100">TIENDA OFICIAL</a>
            </div>
        </article>
    
        <article class="card bg-transparent me-4 w-25 shadow-lg border">
            <img src="assets/Sinigual.jpg" alt="">
            
            <div class="card-body">
                <h3 class="card-title text-center text-dark mb-4"><strong>SINIGUAL</strong></h3>
                <p class="card-text text-center text-dark mb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque officiis est iure perferendis eveniet provident, nemo reiciendis reprehenderit libero! Laborum voluptatem minus corporis, ratione illum soluta dicta consectetur sapiente quam.</p>
                <a href="https://sinigualshop.com/" target="_blank" class="btn btn-outline-primary w-100">TIENDA OFICIAL</a>
            </div>
        </article>
    </div>
</section>
