<div class="container-fluid">
  
  <app-about-header></app-about-header>

  <section class="row d-flex justify-content-center mb-4">
    <article class="col-5">
        <p class="text-secondary text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta iste
            vel, ullam hic quod similique aspernatur natus reprehenderit harum
            voluptatibus!orem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta iste
            vel, ullam hic quod similique aspernatur natus reprehenderit harum
            voluptatibus!orem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta iste
            vel, ullam hic quod similique aspernatur natus reprehenderit harum
            voluptatibus!orem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta iste
            vel, ullam hic quod similique aspernatur natus reprehenderit harum
            voluptatibus!
        </p>
        <hr>
    </article>  
  </section>

  
  <app-iframe></app-iframe>

  <app-about-us></app-about-us>

</div>
